<h1>
  {{title}}
</h1>

<ul class="nav nav-tabs">
  <li role="presentation"><a ng-href="#/productos">Listado</a></li>
  <li role="presentation" class="active"><a ng-href="#/productos/importar">Importar</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="listado">
    Listado
  </div>
  <div role="tabpanel" class="tab-pane active" id="importar">
    <div style="padding-top:10px;">
      <p class="alert alert-info">Las columnas se cuentan asi: A=0, B=1, C=2, etc.</p>
      <form action="/api/product" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="{{token}}">
        <div class="form-group">
          <label>Archivo XLSX</label>
          <input type="file" name="pdf" class="form-control" />
        </div>
        <div class="form-group">
          <label>Columna donde está el codigo</label>
          <input type="text" name="codeColumn" class="form-control" />
        </div>
        <div class="form-group">
          <label>Columna donde está el nombre del producto</label>
          <input type="text" name="nameColumn" class="form-control" />
        </div>
        <div class="form-group">
          <label>Columna donde está el proveedor</label>
          <input type="text" name="providerColumn" class="form-control" />
        </div>
        <div class="form-group">
          <label>Columna donde está el precio </label>
          <input type="text" name="priceColumn" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>