<form ng-submit="makeOrder(order)">
  <product-input-search product="order.product"></product-input-search>

  <md-content layout-padding>
    <md-select ng-model="order.provider" placeholder="Proveedor" class="cm-material-select" flex required>
      <md-option ng-repeat="provider in order.product.providers" ng-value="provider" flex>
        <strong>{{provider.name}}</strong><br />
        $ {{ provider.price }}
      </md-option>
    </md-select>
  </md-content>

  <md-content layout-padding>
    <md-input-container>
      <label>Costo por unidad</label>
      <input ng-model="order.provider.price" flex required />
    </md-input-container>
  </md-content>

  <md-content layout-padding>
    <md-input-container>
      <label>Cantidad en unidades</label>
      <input ng-model="order.quantity" flex required />
    </md-input-container>
  </md-content>

  <md-content layout-padding>
    <md-input-container>
      <label>Costo total</label>
      <input ng-model="totalcost" flex disabled />
    </md-input-container>
  </md-content>

  <md-content layout-padding>
    <md-button class="md-raised md-primary">
      Guardar
    </md-button>
  </md-content>
</form>